<?xml version="1.0" encoding="iso-8859-1"?>
<config>
  <window>
    <fullscreen value="false"/>
    <bordless value="false"/>
    <resizable value="true"/>
    <fullscreen_window value="false"/>
    <title name="2D Game"/>
    <width value="800"/>
    <height value="650"/>
    <scale value="1"/>
  </window>
  
<audio></audio>
<input></input>
<render></render>
<textures></textures>
</config>